@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black;
}

details > summary {
	list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
  details > summary::-webkit-details-marker /* Safari */ {
	display: none;
}

details summary svg:nth-child(2) {
	display: none;
}

details[open] summary svg:nth-child(2) {
	display: block;
}

details[open] summary svg:nth-child(1) {
	display: none;
}

details[open] summary ~ * {
	animation: ease-opacity-t-b 0.5s ease;
}
